@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
	margin: 0;
	padding: 0;
	outline: 0;
	overflow: hidden;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
body{
	
	font-family: arial;
	font-size: 14px;
	font-weight: normal;
	background: #090e11;
}
.loginsignup{

	padding: 120px;
}
.container{
	margin-top: 90px !important;
	max-width: 992px;
	margin: auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.justify-content-between{
	justify-content: space-between;
}
.content-left{
	margin-top: 50px;
	/* max-width: 50px; */
	/* margin: auto; */
	color: #ffffff;
}
.content-left h1{
	font-size: 50px;
	color: #ffffff;
	margin-bottom: 20px;
	font-weight: 900;
}
.content-left h2{
	font-size: 28px;
	line-height: 32px;
	font-weight: 500;
	margin-bottom: 40px;
}
.form-group {
	height: 60px; 
	margin-bottom: 1px;
}
.signupForm {
	height: 60px; 
	margin-bottom: -5px;
}

.content-right{
	max-width: 400px;
	margin: auto;
	text-align: center;
}
.fieldset {
    border: white;
}
.content-right form{
	width: 400px;
	height: 350px;
	background: #fff;
	border-radius: 5px;
	padding: 15px;
	-webkit-box-shadow: -1px -1px 8px -1px rgba(0,0,0,0.52);
	-moz-box-shadow: -1px -1px 8px -1px rgba(0,0,0,0.52);
	box-shadow: -1px -1px 8px -1px rgba(0,0,0,0.52);
	margin-bottom: 170px !important;
}
.content-right form input{
	width: 100vw;
	height: 50px;
	font-size: 17px;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 0 15px;
	margin-bottom: 15px;
}
.content-right form input:hover{
	/* border: 2px solid #1c1e21; */
	background: #f0f2f5;
}
.errorMessage {
	position: absolute;
	color: red; 
	margin: 0;
	left: 950px;
	/* margin-top: 10px !important; */
	/* position: relative;  */
}

.btn {

	margin-top: 20px; 
	font-size: 20px;
    width: 350px;
	background: #128C7E;
	height: 50px;
    border: none;
	color: #fff;
	line-height: 50px;
	border-radius: 5px;
	margin-bottom: 20px;
	text-transform: capitalize;
}


.content-right form{
	width: 400px;
	height: 350px;
	background: #fff;
	border-radius: 5px;
	padding: 15px;
	-webkit-box-shadow: -1px -1px 8px -1px rgba(0,0,0,0.52);
	-moz-box-shadow: -1px -1px 8px -1px rgba(0,0,0,0.52);
	box-shadow: -1px -1px 8px -1px rgba(0,0,0,0.52);
	margin-bottom: 30px;
}
.btnsignIn{
	margin-top: -10px;
	font-size: 20px;
    width: 220px;
	background: #5a8f89;
	height: 30px;
    border: none;
	color: #fff;
	border-radius: 5px;
	/* margin-bottom: 20px; */
	text-transform: capitalize;
}
p {
	color: black;
}
.loginbtn {
	margin-top: 10px;
	font-size: 20px;
    width: 200px;
	background: #5a8f89;
	height: 50px;
	color: #fff;
	border: none;
	line-height: 50px;
	border-radius: 5px;
	margin-bottom: 20px;
	text-transform: capitalize;
}
.loginbtn1 {
	color: #fff;
	border: none;
	text-transform: capitalize;
}

.login a{
	display: block;
}
.create-btn a{
	cursor: pointer; 	
	display: inline-block;
	border-radius: 5px; 
	margin-top: 20px;
	padding: 0 17px;
	background: #075E54;
	transition: .3s;
}
.create-btn a:hover{
	background: #128C7E;
}
.forgot a{

	font-size: 14px;
	line-height: 19px;
	color:#1877f2;
}
.forgot a:hover,
.content-right p a:hover{
	text-decoration: underline;
}
.content-right p a{
	color: #1c1e21;
	font-weight: 600;
}
h1 {
	color: #128C7E !important; 
}
h3 { 
	color: black;
}
button {
	cursor: pointer; 
}

